################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Identity/.vs/Identity/v15/Server/sqlite3
